<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="true"
         testdox="true"
         executionOrder="depends,defects"
>

    <testsuites>
        <testsuite name="Database">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>